* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    font-family: Inter;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: hsl(0, 0%, 12%);
    margin-top: 100px;
    margin-bottom: 15px;
    padding: 25px;
    border-radius: 15px;
}

.container img {
    border-radius: 50%;
    width: 90px;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 25px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin-bottom: 5px;
}

.container h3 {
    font-size: 15px;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-bottom: 20px;
}

.container > p {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 25px;
}

.container a {
    width: 100%;
}
.container button {
    width: 100%;
    border: none;
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
.container a:not(:last-child) {
    margin-bottom: 15px;
}
.container button:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}

@media (min-width: 500px) {
    .container {
        margin-top: 200px;
    }
}

@media (max-height: 500px) {
    .container {
        margin-top: 20px;
    }
}